<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>RegistrationForm_v2 by Colorlib</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="css/style.css">
	</head>

	<body>
		<div class="container">
		    <div class="w3l_offers">
			    <a href="/admin/add-veg" class="btn btn-success">Add Vegetables</a>
		    </div>
		    <div class="w3l_offers">
			    <a href="/admin/add-rent" class="btn btn-success">Add Rent</a>
		    </div>
		    <div class="w3l_offers">
			    <a href="/admin/add-doctors" class="btn btn-success">Add Doctors</a>
		    </div>
		    <div class="w3l_offers">
			    <a href="/admin/add-medicine" class="btn btn-success">Add Medicens</a>
		    </div>
		    <div class="w3l_offers">
			    <a href="/admin/add-restaurants" class="btn btn-success">Add Restaurants</a>
		    </div>
		    <div class="w3l_offers">
			   <a href="/admin/add-taxi" class="btn btn-success">Add Taxi</a>
		    </div>
		</div>

		<div class="wrapper" style="background-image: url('images/bg-registration-form-2.jpg');">
			<div class="inner">
				<form action="/admin/add-veg" method="post" enctype="multipart/form-data">
					<h3>ADD PRODUCTS</h3>
						<div class="form-wrapper">
							<label for="">Name</label>
							<input type="text" name="Name" class="form-control">
						</div>
						<div class="form-wrapper">
							<label for="">Category</label>
							<input type="text" name="Category" class="form-control">
						</div>
					<div class="form-wrapper">
						<label for="">Price</label>
						<input type="text" name="Price" class="form-control">
					</div>
					<div class="form-wrapper">
						<label for="">Description</label>
						<input type="text" name="Description" class="form-control">
					</div>
					<div class="form-wrapper">
						<label for="">Image</label>
						<input type="file" class="form-control" name="image">
					</div>
		
					<button type="submit" value="Upload">Submit</button>
				</form>
			</div>
		</div>
	</body><!-- This templates was made by Fantacy Designs (https://fantacydesigns.com/) -->
</html>	
