<!-- header -->
	<div class="agileits_header">
		<div class="w3l_offers">
			<a href="" class="btn btn-primary">Admin Header</a>
		</div>
		
		<div class="w3l_offers">
			<a href="/" class="btn btn-success">All Products</a>
		</div>
		
		<div class="w3l_offers">
			<a href="/" class="btn btn-success">All Orders</a>
		</div>
		
		<div class="w3l_offers">
			<a href="/" class="btn btn-success">All Users</a>
		</div>
		<div class="w3l_offers">
			<a href="/admin/add-product" class="btn btn-success">Add Product</a>
		</div>
		
		<div class="w3l_header_right">
			<ul>
				
			</ul>
		</div>
		
		<div class="clearfix"> </div>
	</div>
	