<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-9" style="color: black;">Login account</h2>

              <form action="/login" method="post">

                

                <div class="form-outline mb-6">
                  <input type="email" id="email" name="Email" class="form-control form-control-lg" />
                  <label class="form-label" for="">Your Email</label>
                </div>

                <div class="form-outline mb-6">
                  <input type="password" id="password" name="Password" class="form-control form-control-lg" />
                  <label class="form-label" for="" >Password</label>
                </div>


               
                <div class="text-center text-muted mt-5 mb-0">
                  <button type="submit"
                    class="btn btn-success">Sign Up</button>
                </div>


               

               
                

                <p class="text-center text-muted mt-5 mb-0">Do You No account ?<a href="/signup"
                    class="fw-bold text-body"><u>Sign Up here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>